<mat-toolbar color="accent" class="header-toolbar">
  <!-- Logo Image -->
  <img src="assets/logo.png" alt="Currency Logo" class="logo-img" />

  <span class="title">Currency Converters</span>

  <span class="spacer"></span>

  <div class="nav-links">

    <button mat-button [matMenuTriggerFor]="menu">Currency Pages</button>
  </div>

  <mat-menu #menu="matMenu">

     <button  mat-menu-item routerLink="/currencies-list" routerLinkActive="active-link">Currency List</button>
    <button  mat-menu-item routerLink="/currencies" routerLinkActive="active-link">Convert Currency</button>
    <button  mat-menu-item routerLink="/history" routerLinkActive="active-link">History</button>
  </mat-menu>
</mat-toolbar>
