<mat-toolbar color="accent" class="header-toolbar">
  <!-- Logo Image -->
  <img src="assets/logo.png" alt="Currency Logo" class="logo-img" />

  <span class="logo">Currency Converterss</span>

  <span class="spacer"></span>

  <button class="header-toolbar" mat-button routerLink="/currencies" routerLinkActive="active-link">Currency List</button>
  <button class="header-toolbar" mat-button routerLink="/currencies" routerLinkActive="active-link">Convert Currency</button>
  <button  class="header-toolbar" mat-button routerLink="/history" routerLinkActive="active-link">History</button>
</mat-toolbar>
