.page {
      max-width: 420px;
      margin: auto;
      padding: 16px;
    }

    .title {
      text-align: center;
      margin-bottom: 12px;
    }

    @media (min-width: 768px) {
      .page {
        max-width: 700px;
      }
    }
